services:
  postgres:
    image: 'postgres:16-alpine'
    environment:
      POSTGRES_USER: sa_rockstar
      POSTGRES_PASSWORD: R0ckst4rs9x
      POSTGRES_DB: rockstars_dev
    volumes:
      - 'postgres_data:/var/lib/postgresql/data'
    ports:
    - '5432:5432'
    healthcheck:
      test:
        - CMD-SHELL
        - 'pg_isready -U sa_rockstar -d rockstars_dev'
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - rockstars-network

  minio:
    image: 'minio/minio:latest'
    command: 'server /data --console-address ":9001"'
    environment:
      MINIO_ROOT_USER: rockstarsAccessKey2024
      MINIO_ROOT_PASSWORD: R0ckst4rsS3cr3tK3y24
    volumes:
      - 'minio_data:/data'
    healthcheck:
      test:
        - CMD
        - mc
        - ready
        - local
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - rockstars-network
  api:
    build:
      context: ./back-end
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
    environment:
      QUARKUS_DATASOURCE_DB_KIND: postgresql
      QUARKUS_DATASOURCE_USERNAME: sa_rockstar
      QUARKUS_DATASOURCE_PASSWORD: R0ckst4rs9x
      QUARKUS_DATASOURCE_JDBC_URL: 'jdbc:postgresql://postgres:5432/rockstars_dev'
      QUARKUS_HIBERNATE_ORM_SCHEMA_MANAGEMENT_STRATEGY: none
      QUARKUS_HIBERNATE_ORM_LOG_SQL: 'false'
      QUARKUS_FLYWAY_MIGRATE_AT_START: 'true'
      QUARKUS_MINIO_HOST: minio
      QUARKUS_MINIO_PORT: '9000'
      QUARKUS_MINIO_SECURE: 'false'
      QUARKUS_MINIO_ACCESS_KEY: rockstarsAccessKey2024
      QUARKUS_MINIO_SECRET_KEY: R0ckst4rsS3cr3tK3y24
      MINIO_BUCKET_ALBUM_COVERS: album-covers
      MP_JWT_VERIFY_PUBLICKEY_LOCATION: publicKey.pem
      MP_JWT_VERIFY_ISSUER: 'https://rockstars.com.br'
      SMALLRYE_JWT_SIGN_KEY_LOCATION: privateKey.pem
      SMALLRYE_JWT_NEW_TOKEN_LIFESPAN: '3600'
      QUARKUS_SWAGGER_UI_ALWAYS_INCLUDE: 'true'
      QUARKUS_SWAGGER_UI_PATH: /swagger-ui
      QUARKUS_HTTP_CORS: 'true'
      QUARKUS_HTTP_CORS_ORIGINS: '*'
      QUARKUS_HTTP_CORS_METHODS: 'GET,POST,PUT,DELETE,PATCH,OPTIONS'
      QUARKUS_HTTP_CORS_HEADERS: 'Content-Type,Authorization,Accept,Origin,X-Requested-With'
      QUARKUS_REST_CLIENT_REGIONAL_API_URL: 'https://integrador-argus-api.geia.vip/v1'
      APP_ADMIN_USERNAME: rockstar
      APP_ADMIN_PASSWORD: MyWay0rTh3H1ghw@y
      APP_ADMIN_ENABLED: 'true'
      QUARKUS_LOG_CONSOLE_ENABLED: 'true'
      QUARKUS_LOG_LEVEL: INFO
    ports:
      - '3000:8080'
    healthcheck:
      test:
        - CMD
        - curl
        - '-f'
        - 'http://localhost:8080/q/health/ready'
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    networks:
      - rockstars-network

networks:
  rockstars-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
  minio_data:
    driver: local
